/*  your css code here. If applicable */
body {
    background: linear-gradient(to right, #8e44ad, #9b59b6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#buttons {
    display: flex;
    justify-content:space-around;
	gap:5px;
}

button {
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    background-color: #5e2b97;
    color: white;
    font-size: 16px;
    cursor: pointer;
}